.indo{
    width: 186px;
    float: right;
    margin-right: 2%;
    
}
#ilogo{
    background: #0a3c60;
    margin-top: -3px;
    height: 60px; 
}

@media screen and (max-width:1050px){

    #ilogo{
        width: 100%; 
        margin-top: -5px;
        padding-top: 20px;
    }
    .indo{
        margin-right: 2px;
        width: 170px;
    }
}

@media screen and (max-width:700px){
.indo{
    margin-right: 5%;
}
#ilogo{
    margin-top: -7px;
}
}