
#all{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.aline {
   width: 27%;
}

#connect{
   color: #0a3c60;
   font-weight: 600;
   text-align: center !important;
}

ul{
   position: relative;
   padding: 0;
   display: flex;
   width: fit-content;
   margin: 73px auto
}

ul li{
   position: relative;
   list-style: none;
   width: 60px;
   height: 60px;
   margin: 0 30px;
   transform: rotate(-30deg) skew(25deg);
}

ul li span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: 0.5s;
   display: flex !important;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 30px !important;
   
}

.fb{
   background: #3b5998;
}
.skype{
   background: #00aff0;
}
.linked{
   background: #007bb5;
}

ul li:hover span:nth-child(5)
{
   transform: translate(40px,-40px);
   opacity: 1;
}
ul li:hover span:nth-child(4)
{
   transform: translate(30px,-30px);
   opacity: .8;
}
ul li:hover span:nth-child(3)
{
   transform: translate(20px,-20px);
   opacity: .6;
}
ul li:hover span:nth-child(2)
{
   transform: translate(10px,-10px);
   opacity: .4;
}
ul li:hover span:nth-child(1)
{
   transform: translate(0px,-0px);
   opacity: .2;
}


@media screen and (max-width:1050px){
h1{
font-size: 45px;
}
}


@media screen and (max-width:700px){
   .aline {
      width: 61%;
  }
  ul li {
   width: 50px;
   height: 50px;
  }
  h1{
     font-size: 31px;
  }
}