<br><br>
<div id="everything">
<div id="connect"><h1>Connect with us</h1></div>
<div id="all">
  <hr class="aline">
<ul>
  <li>
    <a href="https://www.facebook.com/Empathy-it-Club-283832372218607">
      <span class="fb"></span>
      <span class="fb"></span>
      <span class="fb"></span>
      <span class="fb"></span>
      <span class="fb"><fa-icon [icon]="facebook"></fa-icon></span>
    </a>
  </li>

  <li>
    <a href="skype:empathy.prabhat.bdm@gmail.com">
      <span class="skype"></span>
      <span class="skype"></span>
      <span class="skype"></span>
      <span class="skype"></span>
      <span class="skype" ><fa-icon [icon]="skype"></fa-icon></span>
    </a>
  </li> 

  <li href="https://www.linkedin.com/company/empathy-it-club/">
    <a href="#">
      <span class="linked"></span>
      <span class="linked"></span>
      <span class="linked"></span>
      <span class="linked"></span>
      <span class="linked"><fa-icon [icon]="linkedin"></fa-icon></span>
    </a>
  </li>  

</ul>
</div>
</div>