@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Poppins');

#all{
    margin:0;
    padding: 0;
    height: 99vh;
    width: 100% !important;
    font-family: 'Poppins', sans-serif;
    overflow: hidden !important;
} 

#top{
  width: 100%;
  height: 83.75px;
  background-color: #0a3c60;
}

.containers{
    position: relative;
    width: 100% !important;
    height: 100%;
    margin: 0;
    overflow: hidden !important;
    /* background: #000; */
}


.slide{
    transition: transform 0.5s;
    transform-origin: left;
}

#underline{
    width: 50%;
    color: #fff;
    margin-left: 22%;
    height: .001px;
    border: 2px solid #fff;
    position: absolute;
    
}

.content{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #070708;
    color: #fff;
    opacity: .9;
    padding: 40px;
    width: 100%;
}

#one{
    opacity: .5;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#four{
    background-color: #fff;
    color: #000;
    opacity: .9;
}

#empathy{
    font-size: 53px;
    /* font-family: 'ZCOOL XiaoWei', serif !important; */
}


#type{
    overflow: hidden; 
  /* border-right: .15em solid white;  */
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  font-size: 14px;
  animation: 
    typing 7s steps(60) forwards;
    /* blink-caret 1s step-end infinite; */

    animation-iteration-count: infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1bbc9b; }
  }

.slide .content h2{
    margin: 0;
    padding: 0;
    font-size: 42px;
}
h3{
    margin: 0;
    padding: 0;
    font-style: italic;
}

.slide .content p{
    font-size: 14px;
}

/* .slide img{
    object-fit: contain !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 93%;
    width: -webkit-fill-available !important;
} */

img {
  vertical-align: middle;
  border-style: none;
  width: -webkit-fill-available;
}

.slide img{
    animation: animate 40s linear infinite;
}

.slideImg{
    height: 100%;
}

.mySlides{
    height: 100%;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes animatet{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2.1);
    }
    100%{
        transform: scale(1);
    }
}
 

@media screen and (max-width:1050px){
    .slide .content h2{
        font-size: 54px;
    }
    .slide .content p{
        margin-top: 18px;
        font-size: 20px;
        text-align: justify;
    }
    .contente{
        padding: 19% .5%;
    }
    #empathy{
        font-size: 50px;
        animation: animatet 40s linear infinite;
        text-align: center;
    }
    #underline{
        width: 63%;
        color: #fff;
        margin-left: 20%;
    }
    #type{
        /* font-size: 23px; */
        display: none;
    }
}


@media screen and (max-width:700px){
    #type{
    display: none;
    }
    #empathy{
        font-size: 40px;
        margin-top: 13%;
    }
    #one{
        text-align: left;
        font-size: 16px;
        margin-top: -22px;
        padding: 14%;
    }
    #underline{
        display: none;
    }
    .slide .content h2{
        font-size: 32px;
    }
    .slide .content p{
        margin-top: 20px;
        font-size: 15px;
        text-align: justify;
    }
}