<div id="all">
  <div class="containers">
    <div id="top">
  
    </div>
  
      <div class="mySlides slide">
          <img src="assets/images/slideshow/picture1.jpg" class="slideImg">
          <div class="content contente" id="one">
            <h1 id="empathy">Empathy IT Club </h1>
            <hr id="underline">
            <br><br>
            <h3 id="type">"Ideas are always materialized on the table which we strongly believe..." </h3>
          </div>
        </div> 
  
        <div class="mySlides slide"> 
            <img src="assets/images/slideshow/picture2.jpg" class="slideImg">
            <div class="content" id="two">
              <h2>Human Resources</h2>
              <p>
                <b>"People Are What Matter Most In Business"</b> <br>
                Some leaders think that business is all about technology, money, manufacturing processes, or the supply chain. This is not so relevant. All successful companies revolve around human needs.
                  </p>
              </div>
          </div>
  
          <div class="mySlides slide">
            <img src="assets/images/slideshow/picture3.jpg" class="slideImg">
            <div class="content" id="three">
              <h2>Information Technology</h2>
              <p>
                  Information Technology (IT) is a business sector that deals with computing, including hardware, software, telecommunications and generally anything involved in the transmittal of information or the systems that faciliate communication.
                  </p>
              </div>
          </div>
  
          <div class="mySlides slide">
              <img src="assets/images/slideshow/picture4.jpg" class="slideImg">
              <div class="content" id="four">
                <h2>IT HR</h2>
                <p>
                    IT HR is related with hiring persons in the field of IT.IT is very dynamic field and HR in IT should be done very carefully.Many IT persons are in demand all the time despite the recession.Experts told there is still a desperate shortage of staff with specific skills, and salaries are increasing in those areas.
                </p>
                </div>
            </div>
  </div>
  </div>
  
  <br>
  
  
  
  
  