<!-- <br><br><br><br> -->
<div id="all2">
    <div class="row pr">
      <div class="col-md-2 col-sm-6 logs">
        <div id="partnerlogo">
            <fa-icon [icon]="partner"></fa-icon>
        </div>
      </div>

      <div class="col-md-10 col-sm-6 op">
          <h3 class="topic">Our Partners</h3> 
          <hr class="aline"><br>
          <div id="partners">
              
                  <div class="mr"> MR 2017 Ltd </div>
                
                
                  <div class="mr"> Informatici Senza Frontiere ONLUS </div>
                
              </div>
            </div> 
      </div>
    </div>
 
  <!-- <div class="col-lg-4 col-md-12 pb">

      <img src="assets/images/news1/info-logo.png" id="isf"><br>
   
    
      <div id="orange">
      <p id="p">
        
        We help people to nurture their passion and express themselves beyond barriers and disability.<br>
        </p>
        <button class="btn btn-primary"><a href="https://www.informaticisenzafrontiere.org">Learn More</a></button>
    
      </div>
    
  </div> -->
    <!-- </div> -->
 
<!-- ............................................................. -->

<!-- <div id="all1">
<div class="row">
  <div class="col-md-3 col-sm-12">
    <img src="/assets/images/news1/info-logo.png" id="isf">
  </div>
  <div class="col-md-9 col-sm-12" id="textcol">
    <div id="orange">
      <span id="org">Informatici Senza Frontiere ONLUS<br></span>
    <p id="p">
      
      We help people to nurture their passion and express themselves beyond barriers and disability.<br>
      E-mail: info@informaticisenzafrontiere.org
      <br>
      
      Mob. (+39) 346.2269320
      </p>
      <button class="btn btn-primary"><a href="https://www.informaticisenzafrontiere.org">Learn More</a></button>
  </div>
  </div>
</div>
</div> -->


