@import url('https://fonts.googleapis.com/css?family=Sarabun');

#all1{
    background: #fff;
    min-height: 43vh;
}

#isf{
    width: 171px;
    margin-top: 55px;
}

#textcol{
    background: #f46008;
    color: #fff;
    padding: 2%;
}

#org{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Sarabun', sans-serif;
}
#orange{
    width: 72%;
    margin-left: -25px;
    margin-top: 14px;
}

#p{
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 3%;
    padding-bottom: 1%;
    padding-top: 4%;
    text-align: justify;
    font-size: 18px;
    font-family: 'Sarabun', sans-serif;
    border-left: 2px solid #fff;
    margin-left: 18px;
    border-radius: 6%;
}
button{
    background: #fff;
    border: 2px solid #f46008;
    width: 133px;
    height: 43px;
    margin-left: 28px;
}
button a{
    color:#f46008 ;
    font-size: 18px;
}
button:hover a{
    color: #fff;
}

.btn-primary:hover {
    background-color: #f46008 !important;
    /* background-color: #f46008; */
    border-color: #f46008;
    
}
.btn-primary a :hover{
    color: #fff !important;
}

/* ............................................................... */

#all2{
    background: #fff;
    min-height: 43vh;
    font-family: 'Arapey', serif;
}
fa-icon{
    font-size: 4em;
    color:  #0a3c60;
    float: right;
    padding: 4%;
    margin-top: 33px;
}
.logs{
    background: #ffffff;
    height: 43vh;
}
.topic {
    color: #0a3c60;
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 64px;
}
.mr{
    /* min-width: 280px;
    border: 1px solid #00000021;
    height: 101px;
    text-align: center;
    padding: 6%;
    box-shadow: 5px 6px #a59a9a21; */
    color: #0a3c60;
    font-size: 26px;
}
.pngi{
    padding:10px;
    width: fit-content;
    box-shadow: 5px 6px #a59a9a21;
}
.aline {
    width: 37%;
    float: left;
    margin-top: 2px;
}
#partners{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 64px;
}
img{
    width: 260px;
}

@media screen and (max-width:1050px){
    fa-icon{
    font-size: 5em;
    }
    .pr{
        padding-left: 8%;
    }
    .topic{
        font-size: 35px;
    }
    #partners{
        font-size: 23px;
    }
    #all2{
        min-height: 31vh;
    }     
    #all1{
        height: fit-content;
    }
    #org{
        font-size: 28px;
    }
    #p{
        font-size: 20px;
    }
    #button{
        width: 170px;
        height: 53px;
    }
    #button a{
        font-size: 20px;
    }
    #orange{
        margin-right: 50px;
    }
    #isf{
        padding: 7%;
    width: 248px;
    }
    .pb{
        padding-bottom: 15px;
    }
    /* .mr{
        margin-bottom: 39px;
    } */
    .logs{
        height: fit-content;
    }
}

/* ...................................... */
@media screen and (max-width:700px){
    /* .mr{
        margin-bottom: 54px;
    } */
    .pngi{
        margin-bottom: 10%;
    }
    .pr{
        padding-left: 0;
    }
.logs{
    height: fit-content;
    padding: 10%;
}
fa-icon{
    float: left;
    margin-top: -12px;
    font-size: 4em
}
.topic{
    margin-top: -38px;
    font-size: 30px
}
.op{
    margin-left: 42px;
}
#isf{
    width: 290px;
    float: left;
    margin-top: 0;
}
.pb{
    padding-bottom: 0;
}
#partners{
    margin-bottom: 54px;
    font-size: 20px;
}
#textcol{
    padding: 7%;
}
#orange{
    margin-right: 52px;
    margin-left: 21px;
    margin-bottom: 40px;
}
#org{
    font-size: 25px;
}

    #all2{
        min-height: fit-content;
    }     
    #all1{
        min-height: fit-content;
    }
    #p{
        font-size: 18px;
    }
    #button{
        width: 170px;
        height: 53px;
    }
    #button a{
        font-size: 25px;
    }
   
    
    
}