<div id="fullscreen">
  <div id="all">
    <br>
    <a id="scrollAbout"></a>
    <div class="row">
      <div class="col-md-2 col-sm-0">
          <fa-icon [icon]="atom" id="awesomeIcon"></fa-icon>
      </div>
      <div class="col-md-10 col-sm-12">
    <div id="aslogan">
      <span class="atopic"> Producing Competitive Manpower </span> <br>
      <span class="atopic" id="atopic2"> Achieving Growth Together </span> 
     </div>
      <hr class="line"><br>
  
  
   
    <p class="atexts"> 
      <br>
        Empathy IT Club aims to deliver IT services in low rates keeping clients at first place providing quality 
        services and caring their optimum satisfaction. With these 3 keys we are going to provide Outsourcing and 
        Consultancy Services to European Companies getting more in less. <br>
       </p>
        <div id="readmore" (click)="readmore()" [hidden]="!more">
          <a class="flashit">Readmore <fa-icon [icon]="down"></fa-icon></a>
        </div>
       
      <div id="more" [hidden]="more">
  
        <p class="atexts">
          Empathy IT Club is an Information and Communication Technology based company providing IT 
          staffing services in two ways like one giving team to any company interested cooperating with us 
          establishing environment here in Nepal as per their needs and another is like hiring staffs for the 
          company till our IT guys are aligned to our client’s expectation and help our IT staffs relocate to 
          our client’s country.We also produce competitive IT Manpower for any companies here in Nepal. <br><br>
      
      
       </p>
        <div class="row">
          <div class="col-sm-7 col-xs-12">
          <p class="atexts"> 
              Our main Operations Center is in Kathmandu and we are also present with own Office Delegations in UK,Italy 
              and Poland. <br><br>
  
  Our committed and hardworking Team is always ready to work for your non-core activities like IT development,
  ata processing, call center, graphic design, among many other routine tasks that can be off shored. You can 
  really rely on us and focus on your core work.<br><br> 
  </p>
  </div>
  <div class="col-md-5 col-sm-12">
    <img src="assets/images/logo.png"> 
    <span id="pan">Reg.No.3552</span>	<br> <span id="pan">PAN No.608168065 </span>
  </div>
  
  </div>
  <a (click)="less()" id="less">Read Less<fa-icon [icon]="up"></fa-icon></a>
  </div>
  </div>
  </div>
  </div>