@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Arapey');

#fullscreen{
    background-color: #f0f6fa
}

#all{
	margin: 0 6% auto 6%;
    padding: 1%;
    /* font-family: 'Poppins', sans-serif !important; */
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Arapey', serif;
    min-height: 83vh;
    background-color: #f0f6fa;
}

.line{
    color: #1bbc9b;
    width: 47%;
    border: 1px solid #1bbc9b;
    float: left !important;
} 

.atopic{
	font-size: 32px;
	color: #0a3c60;
    font-weight: 600;
}

img{
    width: 88%;
    padding-top: 5%;
    padding-bottom: 3%;
    margin: auto;
}

#pan{
    color: #1bbc9b;
    padding: 5%;
    font-weight: bold;
}


#less{
    color: #1bbc9b;
}

#awesomeIcon{
    font-size: 4em;
    color: #154669;
    float: right;
    padding: 5%;
    padding-top: 1%;
}
 
.atexts{
    font-size: 18px;
    text-align: justify !important;
}

a{
    text-align: center;
    color: #0a3c60;
    font-size: 22px; 
    width: fit-content;
    font-weight: bolder;
    margin: auto;
}

a:hover{
    cursor: pointer;
}

.flashit{
    color:#1bbc9b ;
      -webkit-animation: flash linear 1s infinite;
      animation: flash linear 1s infinite;
  }
  @-webkit-keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }
  @keyframes flash {
      0% { opacity: 1; } 
      50% { opacity: .1; } 
      100% { opacity: 1; }
  }

  @media screen and (max-width:1400px){
    #all{
    min-height: fit-content;
    padding-bottom: 10%;
    }
}

  @media screen and (max-width:1050px){
      #awesomeIcon{
          font-size: 5em;
      }
      .atopic{
        font-size: 35px;
      }
      .row{
        margin-top: 14px;
      }
      .atexts{
        font-size: 24px;
      }
      #all{
        min-height: fit-content;
        margin-bottom: 94px;
        padding-bottom: 1%;
      }
  }

  @media screen and (max-width:700px){
    #awesomeIcon{
        float: left;
    }
    .atopic{
        font-size: 30px;
    }
    .atexts{
        font-size: 20px;
    }
    img{
        width: 100%;
    }
    #pan{
        font-weight: 400;
    }
    #less[_ngcontent-c4] {
        color: #0a3c60;
        font-weight: 100;
    }
    #more{
        padding-bottom: 14%;
    }
    .line{
        width: 81%;
    }
  }