<!-- <div id="all">
  <div id="insideall">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <span class="information">Information</span>
      <ul>
        <li><a href="#" (click)="refresh()">About us</a></li>
        <li><a [routerLink]="['/news']">News</a></li>
        <li><a [routerLink]="['/techNews']">Tech News</a></li>
        <li><a [routerLink]="['/team']">Marketing Team</a></li>
        <li><a [routerLink]="['/vacancy']">Careers</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-12">
        <span class="information">Contact us</span>
      <ul class="ul2">
        <li><fa-icon [icon]="location"></fa-icon>
            44600,Chandragiri 7,Kathmandu,Nepal
        </li>
        <li><fa-icon [icon]="phone" ></fa-icon>
            Tel.: 00977 1 4312571
            Mobile: 00977 9823149701
        </li>
        <li><fa-icon [icon]="mail"></fa-icon>
            empathy.prabhat.bdm@gmail.com
            info@empathyitclub.com
        </li>
        <li></li>
      </ul>
    </div>
  </div>
  
  <span style="color: #d1ddda; margin-bottom: 3%; font-size: 8px;">Empathy IT Club &copy; 2019</span>
  
</div>
</div> -->


<div id="all">
  <div id="cen">
<ul>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <li>
          <div class="icon">
            <fa-icon [icon]="location"></fa-icon>
            <div class="text">
              Address<br>
              44600,Chandragiri 7,Kathmandu,Nepal
            </div>
          </div>
        </li>
      </div>
      <div class="col-sm-4 col-xs-12">
        <li>
          <div class="icon" id="phone">
            <fa-icon [icon]="phone" ></fa-icon>
            <div class="text">
              Phone <br>
              Tel.: 00977 1 4312571<br>
              Mobile: 00977 9823149701
            </div>
          </div>
        </li>
      </div>
      <div class="col-sm-4 col-xs-12">
        <li>
          <div class="icon">
            <fa-icon [icon]="mail"></fa-icon>
            <div class="text">
              Email<br>
              empathy.prabhat.bdm@gmail.com<br>
              info@empathyitclub.com
            </div>
          </div>
        </li>
        </div>
      </div>
</ul>
</div>
</div>

<app-footer></app-footer>