#all{
    margin: 0;
    padding-bottom: 0%;
    padding-top: 3%;
    font-family: sans-serif;
    background: #0a3c60;
    height: fit-content;
}

/* #phone{
    margin-left: 23%;
    margin-right: -25%;
} */

ul{
    margin-bottom: 0;
    
}

ul li{
    list-style: none;
    float: left;
    text-align: center;
    color: #fff;
}

ul li fa-icon{
    text-decoration: none;
    font-size: 4em;
    transition: .5s;
}

ul li .text{
    opacity: 0;
    transition: .5s;
    transform: translateY(20px);
}

ul li:hover fa-icon{
    transform: translateY(-20px);
    font-size:2em;
}

ul li:hover .text{
    transform: translateY(-8px);
    opacity: 1;

}



@media screen and (max-width:1050px){
    ul li fa-icon{
        font-size: 5em;
    }
    ul li .text{
        transform: translateY(-8px);
        opacity: 1;
        font-size: 13px;
    
    }
    #all{
        height: fit-content;
        padding-bottom: 0
    }
}


@media screen and (max-width:700px){
    .text{
        font-size: 18px;
    }
    #all{
        padding-top: 8%;
        padding-bottom: 0
    }
    ul li fa-icon{
        transform: translateY(-20px);
        font-size:3em;
    }
    
    ul li .text{
        transform: translateY(-8px);
        opacity: 1;
        width: fit-content;
        margin: auto;
        padding-bottom: 51px;
    }
    ul{
        padding-left: 0 !important;
    }
    #cen{
        width: fit-content;
    margin: auto;
    }
    #phone{
        margin-left: 0;
        margin-right: 0;
    }
    ul li{
        margin: auto;
    width: -webkit-fill-available;
    }
} 

/* #all{
    margin: 0;
    padding-bottom: 0%;
    padding-top: 3%;
    font-family: sans-serif;
    background: #0a3c60;
    height: fit-content;
}

#insideall{
    width: 94%;
    margin: auto;
}

ul{
    list-style: none;
}
.information{
    color: #fff;
    font-weight: bold;
    margin-left: 40px;
    font-size: 16px;
    text-decoration: underline;
}
ul li a{
    color: #fff;
    font-size: 15px;
    line-height: 23px;
}
ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #cdcccc;
}
.ul2{
    color: #fff;
    font-size: 15px;
    line-height: 26px;
}
#hr{
    border-top: 1px solid rgba(250, 242, 242, 0.82);
}

@media screen and (max-width:1050px){
    #insideall{
        width: 100%;
    }
}

@media screen and (max-width:700px){
    ul li a{
        font-size: 13px;
        line-height: unset;
    }
    .ul2{
        font-size: 13px;
        line-height: 22px;
    }
} */

