*{
    box-sizing: border-box;
  }

  #top{
    width: 100%;
    height: 83.375px;
    background-color: #0a3c60;
  }

  .icon{
    margin-right: 13px;
  }

  .mail{
    margin-left: 27px;
  }

  #pmap{
    height: 273.6px;
    width: 100%;
    border: 2px solid #0a3c60;
    margin: 7% 0;
}
  
  #all{
    background:f0f6fa;
    color:#fff;
    line-height:1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }

  label{
    color: #0a3c60;
  }
  
  .container{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#5b87ab;
  }
  h3{
    color: #0a3c60;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:#f9feff;
  }
  h1{
  line-height: 2.2;
  }

  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #5b87ab;
  }
   
  .contact form button{
    background:#5b87ab;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }

  .social{
    color: #007bb5;
    margin: 1%;
    font-size: 1.1em;
	  transition: .5s;
    z-index: 3;
    position: relative;
}

.social:hover{
    color: #fff;
    font-size: 1.2em;
    z-index: 50;
  	transform: rotateY(360deg);
}
.as:before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0a3c60;
	transition: .5s;
	z-index: 2
}

.as:hover:before
{
	top:0;
}
.as{
	width: 70px;
  height: 70px;
	background-color: #fff;
	text-align: center;
	line-height: unset;
	font-size: 35px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}
ul{
  display: inline;
}
#we{
  color: #fff;
    font-size: 22px;
    line-height: 2.1;
    margin-left: 23%;
}

#rowss{
  width: fit-content;
    margin: auto;
}
  
  /* LARGE SCREENS */
  @media(min-width:700px){
  
    #all{
      height: fit-content;
      /* margin-top: 0; */
    }
    #top{
      height: 84px;
    }
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{ 
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }

  /* @media screen and (max-width:1050px){
    
    #all{
      min-height: 92vh;
    }
    #top{
    height: 110.375px;
    }
  } */