<div id="top"> 
</div>
<div id="all"> 
  <div class="container">
    <!-- <h1 class="brand"><span>Empathy IT Club</span></h1> -->
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h1>Empathy IT Club</h1>
        <ul>
            <div class="mail">
          <li>Mobile: 00977 9823149701</li>
          <li>Email:
             empathy.prabhat.bdm@gmail.com; info@empathyitclub.com</li>
             <br>
          <li>Reg.No.: 3552 </li>
          <li>PAN No.: 608168065</li>
          </div>
        </ul>

        <p id="pmap">
          <iframe id="gmap"  
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14132.226746489576!2d85.21690851977536!3d27.6846428!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1531663490727"  
          allowfullscreen="allowfullscreen"
          width="100%"
          height="100%"
          >
        </iframe></p>
        <ul>
            <li><span class="icon"><fa-icon [icon]="location"></fa-icon></span>44600, Chandragiri 7, Kathmandu, Nepal </li>
        </ul>
        <br><br>
        <div id="we">
            <span>Connect With us :)</span>
        </div> 
        <div class="row" id="rowss">
          
        <div class="col-xs-6">
          <ul>
          <li class="lis">
            <a class="as" href="https://www.facebook.com/Empathy-it-Club-283832372218607">
              <fa-icon class="social" [icon]="fb"></fa-icon>
           </a>
          </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <li class="lis">
                <a class="as"href="https://www.linkedin.com/company/empathy-it-club/">
                    <fa-icon class="social" [icon]="linked"></fa-icon>
                 </a>
                 </li>
                 </ul>
        </div>
        </div>
        

      </div>


      <div class="contact">
        <h3>Email Us</h3>
        
        <form #form="ngForm" (ngSubmit)="newSubmit();form.reset()">
          <div class="full">
            <label>Name*</label>
            <input type="text" name="name" #name="ngModel" 
            [(ngModel)]="newMsg.name" required>
            <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
              <div *ngIf="name.errors.required">
                  Please enter your Name
              </div>
            </div>
          </div>
          <div class="full">
              <label>Phone Number</label>
              <input type="text" name="phone" #phone="ngModel" [(ngModel)]="newMsg.phone">
          </div>
          <div class="full">
            <label>Company</label>
            <input type="text" name="company" #company="ngModel" [(ngModel)]="newMsg.company">
          </div>
          <div class="full">
            <label>Email Address*</label>
            <input type="email" name="email" #email="ngModel" 
            [(ngModel)]="newMsg.email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            <div *ngIf="email.errors.required">
                Please enter your Email address.
            </div>
            <div *ngIf="email.errors.pattern">
              The email address you entered is not valid. Please enter a valid  one.
            </div>
            </div>
          </div>
          <div class="full">
            <label>Message*</label>
            <textarea name="message" rows="5" #message="ngModel"
            required [(ngModel)]="newMsg.message"></textarea>
            <div class="alert alert-danger" *ngIf="!message.valid && message.touched">
              <div *ngIf="message.errors.required">
                  Please tell us what we can help you with :)
              </div>
              </div>
            </div>
          <div class="full">
            <button type="submit" [disabled]="!form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
