#top{
	height: 86px;
	width: 100%;
	background-color: #0a3c60;
}
hr{
	border-top: 1px solid #acd3cb !important;
}

#all{
    margin: 0;
    padding: 0;
    background-color: #f0f6fa !important;
}

.ncontainer{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: 10%;
    margin-left: 10%;
	text-align: justify !important;
	overflow-x: hidden !important;
}

.nimg{
	height: 230px;
	/* max-width: 350px; */
} 

#nmain{
	color: #1bbc9b;
	text-align: center;
	font-weight: 600;
	font-size: xx-large;
}

.ntopic{
	font-size: 20px;
    font-weight: 600;
}

.row{
	padding-top: 3%;
	padding-bottom: 3%;
}

#none{
	background-color: #ee9c80;
}

.ione{
	float: right;
	margin-right: 20%;
	margin-top: 4%;
	margin-bottom: 1%;
}

.ntext{
	padding: 3%;
	min-height: 250px;
	color: #fff;
	font-size: 16px;
}

.itwo{
	/* margin-left: 20%; */
	margin-top: 1%;
	position: relative;
}

#ntwo{
	background-color: #aca195;
}

#nthree{
	background-color: #96a5bb;
}

#nfour{
	background-color: #97cfc6;
}

#nfive{
	background-color: #5b87ab;
}

#nsix{
	background-color: #5fb2aa;
}

#nseven{
	background-color: #8f9e49;
}

#neight{
	background-color: #a24f97;       
}

#nall{
	overflow-x: hidden;
}


@media screen and (max-width:1050px){
    #top{
        height: 111px;
	}
}

@media screen and (max-width:1050px){
.itwo{
	width: 100%;
	margin-left: 0;
}
.ione{
	margin-right: 0;
}
}

@media screen and (max-width:700px){
	#top{
		height: 86px;
	}
	.ione {
		margin-right: 10%;
		max-width: -webkit-fill-available;
		/* height: fit-content; */
	}

	.itwo{
		margin-left: 10%;
		max-width: -webkit-fill-available;
		/* height: fit-content; */
	}

	/* #neight{
	height: max-content;
	} */

	#nall{
		overflow-x: hidden !important;
	}
}