<div id="all">
  <div id="top"></div>
  <br><br>
  <div class="ncontainer">
      <h2 id="nmain"> Current Trends in Technology </h2><br>
     
      <div class="row">
         <div class="col-sm-6 col-xs-12">
           <img class="nimg ione" src="assets/images/news/blockchain.png">
         </div>
         <div class="col-sm-6 col-xs-12 ntext" id="none">
           <span class="ntopic"> Blockchain<br> </span>
           Connecting the world to Crypto
      
     The easy way to send, receive, store, and trade digital currencies</div>
     </div>
     <hr>
     
     <div class="row">
       <div class="col-sm-6 col-xs-12 ntext" id="ntwo">
         <span class="ntopic"> Internet of things (IoT) </span><br> The Internet of things is the network of physical devices, vehicles, home appliances, and other items embedded with electronics, software, sensors, actuators, and connectivity which enables these things to connect, collect and exchange data.</div>
     <div class="col-sm-6 col-xs-12"> <img class="nimg itwo" src="assets/images/news/iot.png"></div></div>
     <hr>
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12"> <img class="nimg ione" src="assets/images/news/vr.png"> </div>
       <div class="col-sm-6 col-xs-12 ntext" id="nthree">
         <span class="ntopic">Virtual Reality </span><br>Virtual reality is an interactive computer-generated experience taking place within a simulated environment. It incorporates mainly auditory and visual feedback, but may also allow other types of sensory feedback like haptic. This immersive environment can be similar to the real world or it can be fantastical.</div>
       </div>
     <hr>
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12 ntext" id="nfour">
     <span class="ntopic">Augmented reality</span><br>Augmented reality is an interactive experience of a real-world environment where the objects that reside in the real-world are "augmented" by computer-generated perceptual information, sometimes across multiple sensory modalities, including visual, auditory, haptic, somatosensory, and olfactory.</div>
     <div class="col-sm-6 col-xs-12"><img class="nimg itwo" src="assets/images/news/arg-reality.png"></div>
     </div>
     <hr>
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12"> <img class="nimg ione" src="assets/images/news/chatbots.png"></div>
       <div class="col-sm-6 col-xs-12 ntext" id="nfive">
     <span class="ntopic">Chatbots</span><br>
     A chatbot is a computer program or an artificial intelligence which conducts a conversation via auditory or textual methods. Such programs are often designed to convincingly simulate how a human would behave as a conversational partner, thereby passing the Turing test.</div>
     </div>
     <hr>
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12 ntext" id="nsix">
     <span class="ntopic">Subscription Model </span><br>The subscription business model is a business model where a customer must pay a subscription price to have access to a product or service. The model was pioneered by magazines and newspapers, but is now used by many businesses and website</div>
     <div class="col-sm-6 col-xs-12"><img class="nimg itwo" src="assets/images/news/subscription-model.png"></div>
     </div>
     <hr>
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12"> <img class="nimg ione" src="assets/images/news/ecommerce.png"></div>
     <div class="col-sm-6 col-xs-12 ntext" id="nseven">
     <span class="ntopic">Ecommerce</span><br>
     Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions.</div>
     </div>
     <hr>
     
     
     
     <div class="row">
       <div class="col-sm-6 col-xs-12 ntext" id="neight">
     <span class="ntopic">Automation </span><br>Automation is the technology by which a process or procedure is performed with minimum human assistance.Automation or automatic control is the use of various control systems for operating equipment such as machinery, processes in factories, boilers and heat treating ovens, switching on telephone networks, steering and stabilization of ships, aircraft and other applications and vehicles with minimal or reduced human intervention. Some processes have been completely automated.
     
     </div>
     <div class="col-sm-6 col-xs-12"><img class="nimg itwo" src="assets/images/news/automation.png"></div>
     </div>
     <hr>
     
     <br><br>
     </div>
     </div>
  
     <contact-icons></contact-icons>
  
     