@import url('https://fonts.googleapis.com/css?family=Sarabun');
.all{
    margin: 0;
    padding: 0;
    background: #0a3c60;
}

section{
    position: relative;
    width: 100%;
    min-height: 86vh;
    background:#0a3c60;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section .wave{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg');
    animation: animateW 10s linear infinite;
}

section .wave::before{
    content: '';
    width: 100%;
    height: 143px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg');
    position: absolute;
    opacity: 0.4;
    top:0;
    left: 0;
    animation: animateW-reverse 10s linear infinite;
}

section .wave::after{
    content: '';
    width: 100%;
    height: 143px;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg');
    position: absolute;
    opacity: 0.4;
    top:0;
    left: 0;
    animation-delay: -5s;
    opacity: .6;
    animation: animateW 20s linear infinite;
}

@keyframes animateW{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1360px;
    }
}

@keyframes animateW-reverse{
    0%{
        background-position: 13600;
    }
    100%{
        background-position: 0px;
    }
}


#rbutton{
    width: 235px;
    margin-top: 61px;
}

a{
    position: absolute;
    margin:auto;
    width: 230px;
    height: 70px;
    text-align: center !important;
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
    color:  #fff;
    text-decoration: none;
}
a svg,
a svg rect{
    position: absolute;
    width: 100%;
    height: 100%;
    fill: transparent;
}

a svg rect{
    stroke: #fff;
    stroke-width: 7;
    transition: 1s;
    stroke-dasharray: 230 , 70;
}

a:hover svg rect{
    stroke-dasharray: 230,70;
     stroke-dashoffset: 330;
     stroke: #fff;
}

a:hover {
    color: #fff;
}

span{
    margin-left: 16px;
}

.topic{
    color: #fff;
    font-size: 42px;
}
.text{
    color: #fff;
    font-size: 20px;
    text-align: justify !important;
    font-family: 'Sarabun', sans-serif;
    padding-right: 38px;
}
#mainContent{
    padding: 10%;
    padding-top: 7%;
}

@media screen and (max-width:1400px){
    section{
        min-height: fit-content;
    }
    #mainContent{
        padding-bottom: 19%;
    }
}

@media screen and (max-width:1050px){
    #mainContent{
        padding-bottom: 19%;
    }
    section{
        min-height: fit-content;
    }
    section .wave{
    position: relative;
    margin-top: -10px;
    }
    .topic{
        font-size: 35px;
    }
    .text{
        font-size: 25px;
    }
    #rbutton{
        width: 238px;
        margin-top: 125px;
    }
}


/* ...................................... */
@media screen and (max-width:700px){
    .text{
    font-size: 18px;
    }
    section .wave{
        position: relative;
    }
    #mainContent{
        padding-top: 16%
    }
    .topic{
        font-size: 32px;
    }
    #rbutton{
        margin-top: 50px;
    }
}