<div class="all">

  

  <section> 
    <div id="mainContent">
      <div class="row">
        <div class="col-md-8 col-sm-12 text">
            <h1 class="topic">Join our Team</h1>
          We are devoted to developing, planning and managing projets flawlessly. <br>
          If you are passionate about your work, if you love challenges, if you know you can make a difference in the IT sector then join us.
        </div>

        <div class="col-md-4 col-sm-12">
            <div id="rbutton">  
                <a [routerLink]="['/vacancy']">
                  <svg><rect></rect></svg>
                  <span id="text">Learn More</span> 
                  </a>
                  <br><br><br><br>
                </div> 
        </div>
      </div>
    </div>
    <div class="wave"> </div>
  </section>
</div>