
body{
    background: #f0f6fa;
}
#all{
    background: #f0f6fa;
    text-align: justify !important;
}

#top{
	height: 86px;
	width: 100%;
	background-color: #0a3c60;
}

#topic{
    width: 75%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: justify;
    background: #fff;
    font-family: 'ZCOOL XiaoWei', serif;
}

#hello{
    text-align: center;
    font-weight: bold;
}

#come{
    text-align: center;
    font-weight: 600;
}

.newsArtical{
    background: #fff;
    margin: 4% auto;
    margin-top: 6%;
    width: 75%;
    padding: 4%;
    margin-bottom: 0;
}

.topic{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.5em;
    color: #0a3c60;
    font-weight: 600;
}

.headline{
    border-left: 2px solid #d14a58;
    padding-left: 2%;
    margin-left: 4%;
    font-weight: 580;
    margin-top: 2%;
}

.images{
    width: 296px;
    margin-top: 28px;
    float: right;
}

.button{
    background: #d45562;
    float: right;
    margin-top: 9%;
}

button a{
    color: #fff;
}

.content{
    font-weight: 500
}

@media screen and (max-width:1050px){
    #top{
        height: 110px;
    }
    #all{
        min-height: 72vh;
    }
    #topic{
        margin-top: 32px;
    }
    #hello{
        font-size: 34px;
    }
    #come{
        font-size: 19px;
    }
    .topic{
        font-size: 26px;
    }
    .images{
        max-width: 210px;
    }
}

@media screen and (max-width:700px){
    #top{
		height: 86px;
	}
    #topic{
        width: 95%;
        padding: 7%;
    }
    #hello{
        font-size: 30px;
    }
    #come{
        font-size: 16px;
    }
    .newsArtical{
        width: 95%;
        padding: 9%;
    }
    .topic{
        font-size: 24px;
    }
    .headline{
        margin-top: 7%;
        font-size: 18px;
    }
    .images{
        margin-bottom: 9%;
    }
    .content{
        font-size: 18px;
    }
    button a{
        font-size: 19px;
    }
    .headline{
        font-size: 17px;
    }
    .content{
        font-size: 17px;
    }
}


