<div id="top"></div>
<div id="all">
  <br>
  <div id="topic">
    <h1 id="hello">Hello Visitor!</h1><br>
    <p id="come">Come here to know about the latest events and News related to Empathy IT Club.</p>
  </div>

  <div class="newsArtical">
    <div class="topic">
        Intent to establish an IT training school. 
    </div>

    <p class="headline">
        Empathy IT Club and Informatici Senza Frontiere declared their intent to establish an IT training 
        school aimed at creating professionalism for Nepalese people.
    </p>
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <img class="images" src="assets\images\news1\info-logo.png"> <br> <br>
      </div>

      <div class="col-md-7 col-sm-12">
          <p class="content">
              Informatici Senza Frontiere organizes from basic to the most advanced computer courses in Italy 
              and in the world, free of charge, to people living marginalization and social disadvantage, in
               communities, seniors clubs, prisons.<br><br>
      
               For more information about Informatici Senza Frontiere:<br>
               <button class="btn button">
                  <a href="https://www.informaticisenzafrontiere.org/en/">
                   Learn More
                  </a>
               </button>
          </p>
      </div>
    </div>

    
  </div>
<br><br><br>
</div>

<contact-icons></contact-icons>