<auto-slider></auto-slider>
<about></about>
<services></services>
<partner></partner>
<app-career></app-career>
<social-icons></social-icons>
<contact-icons></contact-icons> 


<!-- <app-footer></app-footer> -->
<!-- <app-form></app-form> -->


<!-- <svg-button></svg-button> -->
<!-- <partner></partner> -->