<div id="all">
  <br>
  <h3 class="topic">Our HR Expertise</h3>
        <hr class="aline">
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="space">
        <div class="card text-center" id="one">
          <div class="title">
            <img src="assets/images/icons/angular.png">
            <h2>Front End</h2> 
          </div>
          <div class="option">
            <ul>
            <li *ngFor="let item of frontEnd"><fa-icon [icon]="check" ></fa-icon>{{item}}</li>
            </ul>
          </div>
        </div>
      </div>
        </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="space">
          <div class="card text-center" id="two">
            <div class="title">
              <img src="assets/images/icons/python.png">
              <h2>Back End</h2> 
            </div>
            <div class="option">
              <ul>
              <li *ngFor="let item of backEnd"><fa-icon [icon]="check" ></fa-icon>{{item}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="space">
          <div class="card text-center" id="three">
            <div class="title">
              <img src="assets/images/icons/ionic.png">
              <h2>Mobile Apps</h2> 
            </div>
            <div class="option">
              <ul>
              <li *ngFor="let item of mobile"><fa-icon [icon]="check" ></fa-icon>{{item}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="space">
            <div class="card text-center" id="four">
              <div class="title">
                <img src="assets/images/icons/code.png">
                <h2>And Many More</h2> 
              </div>
              <div class="option">
                <ul>
                <li *ngFor="let item of others"><fa-icon [icon]="check" ></fa-icon>{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
          </div>
  </div>
  </div>
  </div>
</section>
</div>