@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

#all{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #b5e2e83d;
    min-height: 100vh;
}

section{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 50px;
    /* background:#0a3c60; */

}

.topic{
    text-align: center !important;
    font-family: 'Arapey', serif;
}

.aline{
    width: 18%;
}

.card{
   position: relative;
   max-width: 300px;
   height: auto;
   background: #b5e2e83d;
   /* border: 2px solid #0a3c60; */
   /* background: linear-gradient(-50deg, #fff, #b71c1c) ; */
   border-radius: 15px;
   margin: 0 auto;
   padding: 40px 20px;
   transition: .5s;
   overflow: hidden;
   height: 365px;
   font-family: 'Barlow Semi Condensed', sans-serif !important;
   border: 0;
    box-shadow: 7px 7px #0000000d;
}


.card::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}

.card:hover{
    cursor: pointer;
    transform: scale(1.051);

}

 /* #one:hover{
    border:2px solid #1bbc9b;
    background: linear-gradient(-45deg,  #b71c1c,  #fff,  #fff, #dd2c00) !important;
}
#two:hover{
    border:2px solid #1bbc9b;
    background: linear-gradient(-45deg, #ffd844 ,  #fff,  #fff, #4280b2) !important;
}
#three:hover{
    border:2px solid #1bbc9b;
    background: linear-gradient(-45deg, #4a8bfe,  #fff,  #fff) !important;
}
#four:hover{
    border:2px solid #1bbc9b;
    background: linear-gradient(-45deg, #ff6d00,  #fff,  #fff, #e65100) !important;
} */

img{
     width: 75px;
     border-radius: 50%;
     box-shadow: 0 10px 10px rgba(0,0,0,.15);
 }

.title h2{
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color:#0a3c60;
    font-size: 28px;
    z-index: 2;
}

.option{
    position: relative;
    z-index: 2;
}

.option ul{
    margin: 0;
    padding: 0;
}

.option ul li{
    margin: 0 0 10px;
    padding: 0;
    list-style: none ;
    color: #0a3c60;
    font-size: 16px;
}

.space{
    margin-block-end: 60px;
}

@media screen and (max-width:1400px){
    #all{
        min-height: fit-content;
        padding-bottom: 5%;}
}

@media screen and (max-width:1050px){
    .topic{
        font-size: 35px;
        margin-top: 24px;
    }
    .aline{
        width: 22%;
    }
    img{
        width: 90px;
    }
    .title h2{
        font-size: 28px;
        padding: 9% 0;
    }
    .option ul li{
        margin: 0 0 13px;
        font-size: 18px;
    }
    .card{
        height: 490px;
    }
    #all{
        min-height: fit-content !important;
    }
}

@media screen and (max-width:700px){
    section{
        padding-top: 20px;
    }
    .aline{
        width: 40%;
    }
    .space{
        -webkit-margin-after: 27px;
    }
    .title{
        font-size: 25px;
    }
    .option ul li{
        font-size: 17px;
    }
    .title h2{
        font-size: 30px;
        padding-bottom: 7px;
    }
    .card{
        padding: 27px 20px;
        height: fit-content;
    }

    .topic{
        font-size: 30px;
        margin-top: 24px;
    }
    img{
        width: 66px;
    }
}


