#top{
    width: 100%;
    height: 86px;
    background-color: #0a3c60;
}
img{
    width: 100%;
    padding: 3% 0;
}
#pic{
    /* width: 100%;
    height: 48vh; */
    /* background: url('/assets/images/pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    width: 40%;
    margin: auto;
}
#all{
    min-height: 84vh;
}
table{
    width: fit-content;
    margin: auto;
    margin-bottom: 70px;
}
td{
    width: 58%;
    font-size: 18px;
}
.right{
    text-align: right;
}
h2{
    color: #e14755;
    text-align: center;
    line-height: 50px;
}
.post{
    font-weight: 600;
    color: #0a3c60;
    font-size: 22px;
}
#contents{
    height: fit-content;
    vertical-align: -webkit-baseline-middle !important;
}

@media screen and (max-width:1050px){
    #top{
        height: 111px;
    }
    h2{
        font-size: 38px;
    }
    .post{
        font-size: 25px;
    }
    td{
        font-size: 20px;
    }
    #all{
        min-height: 65vh;
        padding: 6%;
    }
    #pic{
        width: 60%;
    }
    img{
        padding: 7% 0;
    }
}

@media screen and (max-width:700px){
table{
    margin-left: 11%;
    margin-right: 11%;
}
#all{
    min-height: fit-content;
    padding: 0;
}
#top{
    height: 86px;
}
h2{
    font-size: 32px;
}
.post{
    font-size: 22px;
}
td{
    font-size: 18px;
}
}
