<div id="top"></div>
<div id="all">
  <div id="pic">
    <img src="assets/images/pic.png">
  </div>
  
<div id="contents">
  <h2>Available Vacancies</h2>
  <table>
    <tr>
      <td class="post">Post</td>
      <td class="post right">Requirement</td>
    </tr>
    <tr>
      <td>Larvel Developer</td>
      <td class="right">4</td>
    </tr>
    <tr>
      <td>Django Developer</td>
      <td class="right">4</td>
    </tr>
    <tr>
      <td>Scala Developer</td>
      <td class="right">4</td>
    </tr>
  </table>
</div>
</div>
<contact-icons></contact-icons>
 