<div id="navbar">
  <nav id="navbar" class="navbar navbar-expand-lg">
    
      <a class="navbar-brand" href="#" (click)="refresh()">
          <img src="assets/images/logosmall.png"id="smalllogo">
      </a>
    
      <button class="navbar-toggler" type="button"
              (click)="toggleNavbar()" id="button">
              <fa-icon [icon]="bars" ></fa-icon>
      </button>
    
    
      <div class="collapse navbar-collapse"
           [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav navbar-right" (click)="toggleNavbar()">

  
          
  
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/news']">News</a>
          </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/techNews']">Tech News</a>
          </li>
  
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/team']">Marketing Team</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/vacancy']">Careers</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
          
            <img src='assets/images/indo-italy.gif' class="indo">
          
          
          
        </div>
      </nav>
      </div>