  
  nav{
    position: fixed !important;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: #0a3c60;
    color: #fff !important;
    text-align: right !important;
    opacity: .9;
    position: fixed !important;
    padding: 7px 2%;
    box-shadow: #00000038 2px 3px;
}

.navbar-expand-lg {
  width: 100%;
  text-align: center;
}


#smalllogo{
  width: 150px;
  transition-duration: .5s;
}

#button{
  color: #fff !important;
  border: #fff 1px solid;
  z-index: 2000;
}


a{
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 18px;
  font-family: sans-serif;
}

ul{
  width: 100%;
  margin: auto;
}

ul a{
  width:100%;
  text-align:right;
}
.indo{
  width: 186px;
    /* margin-left: 343px; */
    margin-top: 5px;
    float: right;
}

@media screen and (max-width:1050px){
  #smalllogo{
    width: 220px;
  }
  .nav-link{
    font-size: 25px;
    padding-right: 13px;
  }
  .indo{
    display: none;
  }
  #button{
    border: #fff 0px solid;
  }
  .navbar-toggler {
    font-size: 2.5rem;
  }
  fa-icon{
    padding-right: 22px;
  }
}

@media screen and (max-width:700px){
  fa-icon{
    padding-right: 0;
  }
  #smalllogo[_ngcontent-c1] {
    width: 160px; 
  }
  .nav-link{
    font-size: 19px;
    padding-right: 14px;
  }
  #button{
    border: 0;
  }
  fa-icon{
    font-size: 36px;
  }
  a{
    font-size: 20px;
  }
  .indo{
    display: none;
  }
}
/* ............................... */
