@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

body{
	overflow-x: hidden !important;
	background-color: #f0f6fa;
}

.aline{
	width: 40%;
	border: solid #1bbc9b 1px;
	color: #1bbc9b;
} 

.topic{
	color: #0a3c60;
	font-weight: 600;
}

@media screen and (max-width:700px){
	html{
		overflow-x: hidden !important;

	}
	body{
		overflow-x: hidden !important;
	}
}