#all{
    background-color: #f0f6fa !important;
    padding-left: 7%;
    padding-right: 7%;
    }
    
    #top{
        width: 100%;
        height: 86px;
        background-color: #0a3c60;
    }
    
    #tbody{
        
        margin: 0 !important;
        padding: 0;
    }
    
    
    #tcontainer{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 15%;
        margin-left: 15%;
    }
    
    #container2{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 15%;
        margin-left: 1%;
    }
    
    #tmain{
        color: #1bbc9b;
        text-align: center;
        font-weight: 600;
        font-size: xx-large;
    }
    
    #ttopic{
        font-size: -webkit-xxx-large;
        font-weight: 600;
        color: #0a3c60;
    }
    
    #tdescription{
        font-size: large;
        font-weight: 600;
        color: #16507a;
        text-align: justify;
        padding-top: 4%;
    }
    
    .timg{
        height: 150px;
        float: right;
        margin: 0;
        padding-right: 0;
    }
    
    .tpic{
        /* margin-right: 0; */
        padding-right: 0 !important;
        width: auto;
        margin: auto;
    }
    
    .tinfo{
        background-color: #5b87ab;
        height: 150px;
        color: #fff;
        font-size: 16px;
    }
    
    .tname{
        font-weight: bold;
    }
    
    fa-icon{
        color: #fff;
        margin: 1%;
        font-size: 1.4em;
    }
    
    fa-icon:hover{
        color: #0a3c60;
        font-size: 1.7em;
    }

    @media screen and (max-width:1400px){
        section{
            min-height: fit-content;
        }
        #mainContent{
            padding-bottom: 19%;
        }
    }

@media screen and (max-width:1050px){
    #top{
        height: 108px;
    }
    #mainContent{
        padding-bottom: 0;
    }
    #all{
        min-height: 68vh;
    }
    .row{
        margin-top: 74px
    }
    #tdescription{
        font-size: 26px;
    }
}

    
@media screen and (max-width:700px){

    #ttopic{
        font-size: 38px;
    }
    #tdescription{
        font-size: 24px;
    }
    #top{
        height: 86px;
    }
    #all{
        height: fit-content;
    }
    .row{
        margin: 0;
    }
}
    
    