
<div id="top"></div>
<div id="all">
    <div class="tcontainer">
    <div class="row" id="thisrow">
      <div class="col-sm-6 col-xs-12">
        <p id="ttopic"> The Management Team </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p id="tdescription"> We're proud of our team and always looking for more people with a similar passion. If that's you contact us :)
             </p>
        </div>
    </div>
  </div>

    <hr> 

    <div id="container2"> 
        <div class="row">
        <div class="col-sm-4 col-xs-12 tpic"> <img src="assets\images\team\ranju.jpg" class="timg"></div>
        <div class="col-sm-8 col-xs-12 tinfo"> <br>
            <span class="tname">Ranju Pokhrel<br></span>
            <span class="tpost">Marketing Executive <br></span>
            <span class="tmail"><i>ranju@empathyitclub.com
            </i><br></span>
            <a href="https://www.facebook.com/Empathy-it-Club-283832372218607">
               <fa-icon [icon]="fb"></fa-icon>
            </a>
            <a href="https://www.facebook.com/Empathy-it-Club-283832372218607">
                <fa-icon [icon]="linked"></fa-icon>
             </a>
        
        </div>
        </div>
    <br>
    <div class="row">
        <div class="col-sm-4 col-xs-12 tpic"> <img src="assets\images\team\susan.jpg" class="timg"></div>
        <div class="col-sm-8 col-xs-12 tinfo"> <br>
            <span class="tname">Susan Maharjan<br></span>
            <span class="tpost">Marketing Executive <br></span>
            <span class="tmail"><i>susan@empathyitclub.com</i><br></span>
            <a href="https://www.facebook.com/Empathy-it-Club-283832372218607">
                <fa-icon [icon]="fb"></fa-icon>
             </a>
             <a href="https://www.facebook.com/Empathy-it-Club-283832372218607">
                 <fa-icon [icon]="linked"></fa-icon>
              </a>
        </div>
    </div>
    </div>
    <br><br><br><br><br>
 </div>

 <contact-icons></contact-icons>

  